{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/java.jdbc {:mvn/version "0.7.12"}
        mysql/mysql-connector-java {:mvn/version "8.0.30"}
        com.github.seancorfield/honeysql {:mvn/version "2.4.962"}
        metosin/reitit {:mvn/version "0.5.18"}
        dev.weavejester/ragtime {:mvn/version "0.9.3"}
        ring/ring-core {:mvn/version "1.9.6"}
        ring/ring-jetty-adapter {:mvn/version "1.8.2"}
        hiccup/hiccup {:mvn/version "1.0.5"}
        org.clojure/tools.build {:mvn/version "0.9.1"}}
 :aliases {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.1" :git/sha "27ff8a4"}}
                   :ns-default build}}}
