 {:up ["CREATE TABLE redirects (
    id INT NOT NULL AUTO_INCREMENT,
    url varchar(400) NOT NULL,
    updated_at TIMESTAMP NOT NULL DEFAULT NOW() ON UPDATE NOW(),
    created_at TIMESTAMP NOT NULL DEFAULT NOW(),
    PRIMARY KEY(id),
    UNIQUE KEY(url))"]
  :down ["DROP TABLE redirects"]}
